// Timepicker
//
//The timepicker is based on bootstraps timepicker and all we do is wrap it and apply
//some special classes to make it more compatible with material design.
//
//Markup:
//<div class="timepicker-wrapper">
//<wfm-timepicker ng-model="sometime" layout="row" use-meridian="true">
//</wfm-timepicker>
//<input type="text" ng-model="formattedSometime" placeholder="formatted time"  />
//<button ng-click="increaseOneHour()">Increase one hour</button>
//</div>
//
//Styleguide 2.3
//



.timepicker-wrapper {
  width: 200px;
  
  select {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  input {
    padding-left: 5px;
  }
}

