<div class="wfm-timepicker-container">
  <div class="wfm-timepicker-panel">
    <div class="card-array">
      <div class="card spacer material-depth-1 card-array-center">
	0
      </div>
      <div class="card  spacer material-depth-1 card-array-right-1">
	1
      </div>
      <div class="card  spacer material-depth-1 card-array-right-2">
	2
      </div>
      <div class="card spacer material-depth-1 card-array-left-1">
	-1
      </div>
      <div class="card spacer material-depth-1 card-array-left-2">
	-2
      </div>
      <div class="card spacer material-depth-1 card-left-hidden">
	
      </div>
      <div class="card spacer material-depth-1 card-right-hidden">
	
      </div>
      
    </div>
  </div>
</div>
